/* ALL ELEMENTS */
* {
    font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";    padding: 0.1em;
}

/* OVERALL STRUCTURE OF PAGE */
body {
    display: flex;
    flex-flow: column nowrap;
    gap: 3em;
    background-color: rgb(254, 255, 254);
}

/* TABLE OF CONTENTS */
/* 
    1. NAVIGATION COMPONENT
    2. INTRO COMPONENT 
    3. CONTENT COMPONENT
    4. ADDITIONAL INFO COMPONENT
*/
 

/* NAVIGATION COMPONENT */
.navigation-div {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
}

.navigation-div .nav-logo {
    height: auto;
    width: 15vw;
}

.navigation-div .nav-buttons-container {
    display: flex;
    flex-flow: row wrap;
    gap: 1em;
    margin-right: 1em;
}

.navigation-div #login {
    color: white;
    background-color: rgb(19, 128, 19);
}

.navigation-div .nav-button {
    color: rgb(39, 39, 39);
    padding: 1em;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;    border-radius: 7%;
}


.nav-button:hover {
    filter: brightness(90%);
    cursor: pointer;    
}



/* INTRO COMPONENT */
.intro-div {
    display: flex;
    flex-flow: column wrap;
    margin-left: 5em;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    padding: 5em;
}

.intro-div .big-text {
    color: rgb(17, 17, 17);
    font-size: 120px;
    width: 50%;
}

.intro-div .small-text {
    color: rgb(48, 48, 48);
    font-size: 40px;
}

/* CONTENT COMPONENT */
.content-div {
    display: flex;
    flex-flow: column nowrap;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.content-div .causes-header-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-div .causes-header-text {
    color: rgb(39, 39, 39);
    padding: 1em;
    font-size: 30px;
}

.content-div .supporting-causes-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.content-div .supporting-cause-wrapper {
    padding: 1em;
    
}

.content-div .supporting-cause-text {
    color:rgb(68, 68, 68);
    padding: 2em;
    font-size: 25px;
    border-radius: 5%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

/* ADDITIONAL INFO COMPONENT */
.additional-info {
    padding: 1em;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 1em;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.additional-info .info-header-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.additional-info .info-header-text {
    color: rgb(39, 39, 39);
    font-size: 30px;
}
.additional-info .team-container {
    display: flex;
    flex-flow: row wrap;
    gap: 5em;   
}

.additional-info .member-contianer {
    display: flex;
    flex-flow: column nowrap;
}   

.additional-info .member-img {
    height: 200px;
    width: 200px;
    border-radius: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.additional-info .member-desc-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

