/* CONTENT COMPONENT */
.content-div {
    display: flex;
    flex-flow: column nowrap;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.content-div .causes-header-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-div .causes-header-text {
    color: rgb(39, 39, 39);
    padding: 1em;
    font-size: 30px;
}

.content-div .supporting-causes-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.content-div .supporting-cause-wrapper {
    padding: 1em;
    
}

.content-div .supporting-cause-text {
    color:rgb(68, 68, 68);
    padding: 2em;
    font-size: 25px;
    border-radius: 5%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}